<div class="row" id="map-container">
    <div class="px-0 col-12 position-relative">
      <div id="home-map"></div>
    </div>
    <div class="py-2 col-12">
      <div class="row justify-content-center">
        <div class="col-auto">
            <span class="pointer food">●</span>Food
        </div>
        <div class="col-auto">
            <span class="pointer clothes">●</span>Clothes
        </div>
        <div class="col-auto">
            <span class="pointer medical">●</span>Medical
        </div>
        <div class="col-auto">
            <span class="pointer other">●</span>Other
        </div>
      </div>
    </div>
  </div>
